@charset "utf-8";
*{
   margin: 0;
   padding: 0;
   font-family: sans-serif; 
}
#hero{
    width: 100%;
    height: 100vh;
    background-image:  url(image/bg1.png);
    background-size: cover;
    background-position: center;
    position: relative;
    margin:opx;
}
#navber1{
    position: fixed;
    z-index: 1;
    width:100%;
}
#prof
{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-image: url(image/prof.jpg);
    background-size: cover;
    background-position: center;
    float: left;
}



.navbar {
     background-color: rgba(61, 61, 61, 0.596);
     
     }
.navbar .navbar-nav .nav-link {
     color: #fff; 
     
    }
.navbar .navbar-nav .nav-link:hover { 
    color: #fbc531; 
}
.navbar .navbar-nav .active > .nav-link {
     color: #fbc531; 
    }

footer a.text-light:hover {
     color: #fed136!important; text-decoration: none;
     }
footer .cizgi {
     border-right: 1px solid #535e67; 
    }
@media (max-width: 992px) { 
    footer .cizgi { border-right: none; } 
}
footer{
    margin-top: -48px;
}

.container2{
    width: 50%;
    height: 92.35vh;
    background: rgba(86,86,86,0.3);
    backdrop-filter:blur(10px);
    position: relative;
    left: 0;
    top: 57px;

}

.info{
    width: 90%;
    color: #fff;
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
    font-size: 10px;
}
.info h1{
    font-size: 6em;
    letter-spacing: 10px;
}
.info p{
    color: #f0eef1;
    font-size: 11px;
    margin: 20px 0;
    line-height: 18px;
}
.info input{
    padding: 8px 10px;
    background: transparent;
    outline: none;
    border: 2px solid #fff;
    border-radius: 20px;
    color:#fff;
    font-size: 12px;
}
::placeholder{
    color: #ccc;
}
/*start for mobile*/
@media (max-width:430px){
    .container2{
        width: 100%;
        height: 92.5vh;
        background: none;
        backdrop-filter:blur(1px);
        position: relative;
        left: 0;
        top: 57px;
    
    } 
}

/* end for mobile code*/
